@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* { box-sizing: border-box; }

.about {
    color: #ffffff;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_titre {  
    color: #1C1C1C;
    font-size: 150px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
    z-index: 10;
}

.about_content {
    display: flex;
    position: relative;
}

.about_content_text {
    display: flex;
    position: relative;
    z-index: 10;
    gap: 50px;
    align-items: center;
}

.about_content_text_photo_box {
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;
    position: relative;
}

.about_content_text_photo_img {
    content: "";
    width: 100%;
    height: 100%;
    border: 3px solid #1C1C1C;
    position: relative;
    z-index: 10;
}

.about_content_text_photo_box_shadow {
    width: 100%;
    height: 100%;
    border: 3px solid #1C1C1C;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
}

.about_content_text_photo_box_shadow::before {
    content: "EN RECHERCHE DE STAGE";
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1C1C1C;
    z-index: 11;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content_text_content {
    font-size: 24px;
    font-weight: 200;
    line-height: 35px;
    color: #1C1C1C;
    text-align: justify;
    line-height: 40px;
}



.formation {
    max-width: 1920px;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_text_formation {
    width: 100%;
}

.formation_titre {
    color: #1C1C1C;
    font-size: 150px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
    z-index: 10;
}

.formation_timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.formation_box {
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    min-height: 200px;
    padding: 20px 100px;
    position: relative;
    border: #1C1C1C solid 2px;
    box-shadow: 5px 5px 0px 0px currentColor;
}

.formation_year {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 40px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-bottom: #1C1C1C solid 3px;
}

.formation_name {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.formation_description {
    display: flex;
    justify-content: left;
    font-size: 24px;
    font-weight: 200;
}