@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* { box-sizing: border-box; }

.about {
    color: #ffffff;
    width: 100%;
    height: 100vh;
    padding-top: 170px;
    background-color: #181818;
    overflow: hidden;
    position: relative;
}

.about::before {
    content: "";
    width: 100%;
    height: 5%;
    background: linear-gradient(to bottom, #18181800, #000000 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: absolute;
    bottom: 0;
    z-index: 12;
}

.text-about {
    display: grid;
    grid-template-columns: 6fr 4fr;
    position: relative;
    height: 100%;
}

.box-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 100px 0 170px;
    position: relative;
    z-index: 10;
}

.titre_1 {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #3A3A3A;
}
.titre_2 {
    font-family: "Lexend", sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #FDFDFD;
}

.sous-titre-about {
    font-family: "Lexend", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FDFDFD;
}

.contenu {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 35px;
}

.card-profile-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.card-profile-box > .photo_about {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 8;
}
.card-profile-box > .logo_about{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 15;
    transform: scale(0.6);
}

.card-profile-box > .pattern_about1{
    position: absolute;
    top: 0;
    right: 200px;
    z-index: 15;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: #1F1F1F;
    z-index: 5;
}
.card-profile-box > .pattern_about2{
    position: absolute;
    top: 0;
    right: 400px;
    z-index: 15;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: #1F1F1F;
    z-index: 5;
}
.card-profile-box > .pattern_about3{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 15;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: #1F1F1F;
    z-index: 5;
}
.card-profile-box > .pattern_about4{
    position: absolute;
    top: 100px;
    right: 300px;
    z-index: 15;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: #1F1F1F;
    z-index: 5;
}
.card-profile-box > .pattern_about5{
    position: absolute;
    top: 200px;
    right: 200px;
    z-index: 15;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: #1F1F1F;
    z-index: 5;
}
.card-profile-box > .pattern_about6{
    position: absolute;
    top: 200px;
    right: 400px;
    z-index: 15;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: #1F1F1F;
    z-index: 5;
}
.card-profile-box > .pattern_about7{
    position: absolute;
    top: 300px;
    right: 300px;
    z-index: 15;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: #1F1F1F;
    z-index: 5;
}
.card-profile-box > .pattern_about8{
    position: absolute;
    top: 300px;
    right: 100px;
    z-index: 15;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: #1F1F1F;
    z-index: 5;
}

.btn_download_CV {
    color: rgba(255, 255, 255, 0.692);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
    background: rgba(255, 255, 255, 0.068);
    overflow: hidden;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    gap: 20px;
    border-radius: 5px;
    transition: 0.2s;
    margin-top: 20px;
    border: 1px solid transparent;
    width: fit-content;
}

.btn_download_CV:hover {
    border-color: rgba(255, 255, 255, 0.623);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.144),
        rgba(255, 255, 255, 0.247),
        rgba(255, 255, 255, 0.39)
    );
    box-shadow: 0 6px rgba(255, 255, 255, 0.623);
    transform: translateY(-6px);
}

.btn_download_CV:active {
    transform: translateY(2px);
    box-shadow: none;
}

.formation {
    background-color: #000000;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formation_timeline {
    border: #FDFDFD solid 4px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.education {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-text-formation {
    margin-bottom: 30px;
    width: 80%;
}

.titre-formation {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
    width: 100%;

}

.timeline {
    display: flex;
    justify-content: center;
    width: 80%;
}