.panel-contact {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 100px;
}

.contact {
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-contact {
    color: #ffffff;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
}

.contact-info-box {
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.box-contact-info {
    color: #000000;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    border: #3A3A3A solid 5px;
    border-radius: 20px;
    overflow: hidden;
}

.info-box-content {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.icon-contact-info-box {
    width: 10%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-right: 50px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.icon-contact-info-content {
    width: 50%;
}

.text-contact-info-content {
    font-size: 24px;
    font-weight: 200;
}

.social-media {
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
}

.box-social-icon {
    width: 10%;
    aspect-ratio: 1/1;
}

.icon-social {
    width: 100%;
    aspect-ratio: 1/1;
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-social-link {
    width: 80px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    z-index: 3;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: 1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
}

.icon-social-link:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.icon-social-link:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
}

.icon-social-content {
    width: 60%;
}