@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.home::before {
    content: "";
    width: 100%;
    height: 5%;
    background: linear-gradient(to top, #FFFFFF, #ffffff00 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.home > .text {
    display: inline-grid;
    grid-template-columns: max-content;
    justify-content: center;
    width: 100%;
    animation: animation-titre-text 0.5s ease-in-out forwards;
}

.home > .text > p {
    font-size: 2rem;
    font-weight: 300;
    border-radius: 100px;
    text-align: center;
    animation: animation-bonjour-text 0.5s ease-in-out forwards;
}

@keyframes animation-bonjour-text {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home > .text > .top_text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 200px;
    font-weight: 700;
    text-align: center;
}

.home > .text > .under_text {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    color: #D9D9D9;
    padding: 0 20px;
    font-size: 250px;
    font-weight: 700;
    line-height: 200px;
    text-align: center;
}

.home > .text > .under_text::before {
    content: "Basé à Paris";
    position: absolute;
    bottom: -90px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    color: #000000;
    padding: 0 20px;
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
    text-align: left;
}

.home > .text > .under_text::after {
    content: "Étudiant en informatique";
    position: absolute;
    bottom: -90px;
    display: flex;
    justify-content: flex-end;
    background: transparent;
    width: calc(100% - 45px);
    color: #000000;
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
    text-align: right;
}

@keyframes animation-titre-text {
    0% {
        opacity: 0;
        scale: 0;
    }
    70% {
        opacity: 1;
        scale: 1.1;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.image {
    height: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.image > .oval {
    background-image: url("../../assets/avatarBG.svg");
    height: 70%;
    aspect-ratio: 1 / 1;
    transform: scale(0.4);
    opacity: 0.2;
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    animation: spin 100s linear infinite;
}

@keyframes animation-img {
    0% {
        opacity: 0;
        scale: 0;
    }
    70% {
        opacity: 1;
        scale: 1.2;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.image > img {
    height: 60%;
    position: absolute;
    bottom: 50%;
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.4));
    animation: animation-avatar 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes animation-avatar {
    0% {
        opacity: 1;
        transform: translateY(500px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.button-function {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 800px;
    bottom: 50px;
    animation: animation-button-function 0.5s 0.3s ease-in-out forwards;
    z-index: 11;
    opacity: 0;
}

@keyframes animation-button-function {
    0% {
        opacity: 0;
        scale: 0;
    }
    70% {
        opacity: 1;
        scale: 1.2;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.button-function > .En-savoir-plus {
    font-family: "Lexend", sans-serif;
    width: 40%;
    height: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    background-color: #000000;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.button-function > .En-savoir-plus:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.button-function > .En-savoir-plus:active {
    position: relative;
    top: 2px;
}

.button-function > .Contactez-moi {
    font-family: "Lexend", sans-serif;
    width: 40%;
    height: 50px;
    color: #000000;
    border: #000000 solid 2px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    background: hwb(0 100% 0% / 0.5);
    backdrop-filter: blur(4px);
    transition: all 0.2s ease-out;
}

.button-function > .Contactez-moi:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.button-function > .Contactez-moi:active {
    position: relative;
    top: 2px;
}