.panel-projet {
    padding-top: 100px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.projets {
    background-color: #ffffff;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-text-projets {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.panel_btn_choix {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    gap: 30px;
}

.panel_btn_choix > button {
    background-color: transparent;
    color: #1C1C1C;
    padding: 10px 20px;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.titre-projet {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #000000;
}

.projets-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    height: fit-content;
    width: 100%;
}