.panel-projet {
    padding-top: 100px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.projets {
    background-color: #f5f5f5;
    max-width: 1920px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.box-text-projets {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.panel_btn_choix {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn_choisi_projet {
    background-color: transparent;
    color: #1C1C1C;
    padding: 10px 20px;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    border: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn_choisi_projet::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom: #000000 solid 2px;
}

.btn_non_choisi_projet {
    background-color: transparent;
    color: #1C1C1C;
    padding: 10px 20px;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.titre-projet {
    color: #1C1C1C;
    font-size: 150px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
    z-index: 10;
}

.projets-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: fit-content;
    width: 100%;
}