.panel-skill {
    padding-top: 100px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_text_skills {
    width: 100%;
}

.titre_skill {
    color: #1C1C1C;
    font-size: 150px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
    z-index: 10;
}

.skills_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    height: fit-content;
}