.panel-skill {
    padding-top: 100px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills {
    background-color: #ffffff;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-text-skills {
    width: 100%;
    margin-bottom: 30px;
}

.titre-skill {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #000000;
}

.skills-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    height: fit-content;
}