#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}