@keyframes animation-nav {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button_langue {
    position: relative;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.button_langue > ul {
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_langue > ul > li > a {
    color: #000000;
    font-size: 16px;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
}

.button_langue > ul > li > a:hover {
    text-shadow: 0 0 1px currentColor;
}

.button_langue > ul > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: #181818 solid 2px;
    transform: scale(0);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button_langue > ul > li > a:hover::before {
    transform: scale(1);
}

