@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.navbar {
    display: flex;
    width: 100vw;
    height: 60px;
    justify-items: center;
    align-items: center;
    padding: 0 50px;
    background-color: rgba(253, 253, 253, 0.7);
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(4px);
    animation: animation-nav 0.5s ease-in-out forwards;;
}

@keyframes animation-nav {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo_link {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

.logo {
    position: relative;
    z-index: 2;
    height: 60%;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
}

.panel_fonction {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar_fonction {
    list-style: none;      
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    gap: 30px;     
    margin-right: 50px;  
}

.navbar_fonction li {
    list-style: none;      
}


.navbar_fonction > li > a {
    font-size: 18px;
    font-weight: 200;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    position: relative;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar_fonction > li > a:hover {
    text-shadow: 0 0 1px currentColor;
}

.navbar_fonction > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: #181818 solid 2px;
    transform: scale(0);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar_fonction > li > a:hover::before{
    transform: scale(1);
}

.btn_contact {
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn_contact > a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 200;
}
