@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 65%;
    height: 6vh;
    justify-items: center;
    align-items: center;
    padding: 10px 20px;
    background-color: hsla(0, 0%, 100%, 0.8);
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
    border-radius: 0px 0px 150px 150px;
    border-bottom: #ffffff solid 2px;
    backdrop-filter: blur(4px);
}

@keyframes animation-nav {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo_link {
    display: flex;
    justify-content: center;
    animation: animation-nav 0.5s ease-in-out forwards;
}

.logo {
    width: 10%;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
}

.navbar_links {
    list-style: none;      
    padding-left: 0;       
    margin-left: 0;        
    display: flex;         
    gap: 30px;            
    animation: animation-nav 0.5s ease-in-out forwards;
}

.navbar_links li {
    list-style: none;      
}


.navbar_links > li > a {
    font-size: 95%;
    font-weight: 400;
    padding: 5px 25px;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.navbar_links > li > a:hover {
    background-color: #DEF246;
    border: #000000 solid 1px;
    border-radius: 50px;
    box-shadow: 0px 3px 0px #000000;
    transition: all 0.2s ease-out;
}

.navbar_links > li > a:active {
    background-color: #b9cd29;
    border-radius: 50px;
    box-shadow: 0px 1px 0px #000000;
    position: relative;
    top: 2px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
