@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

.card {
    width: 100%;
    height: auto;
    background: #fdfdfd;
    padding: 10px;
    overflow: hidden;
    border: rgba(0, 0, 0, 0.3) solid 2px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.03);
    border: rgba(0, 0, 0) solid 2px;
}

.card .top-section {
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    position: relative;
    overflow: hidden;
    z-index: 30;
}

.card .top-section .border {
    border-bottom-right-radius: 10px;
    height: 40px;
    width: 130px;
    background: #181818;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #181818;
    z-index: 10;
}

.card .top-section .icons .logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 1px 0px 1px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: #181818;
}

.card .top-section .photo_img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    display: block;
    transform: translate(-50%, -50%);
}

.card .bottom-section {
    margin-top: 15px;
    padding: 10px 5px;
}

.card .bottom-section .title {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: block;
    color: #1C1C1C;
    text-align: center;
}

.card .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex: 1;
}

.card .bottom-section .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .bottom-section .row .item .dev_img {
    display: flex;
    width: 50px;
    justify-content: center;
}

.card .bottom-section .row .item .big-text {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    color: #1C1C1C;
}

.card .bottom-section .row .item .regular-text {
    font-size: 12px;
}

.card .bottom-section .row .item:nth-child(n) {
    border-right: 1px solid #1C1C1C;
}

.card .bottom-section .row .item:last-child {
    border-right: none;
}

.detai_projet{
    position: fixed;
    inset: 0;           
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 0;      
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;        
    padding: 24px;
    backdrop-filter: blur(5px);
}

.panel_content_details_projet {
    background-color: #FDFDFD;
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px;
    padding-right: 150px;
    border-radius: 20px;
    border: #ffffff solid 2px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.btn_close_details_projet {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 5px;
    transition: background 0.5s;
}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}

.close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}

.btn_close_details_projet:hover {
    background-color: rgb(211, 21, 21);
}

.btn_close_details_projet:active {
    background-color: rgb(130, 0, 0);
}

.btn_close_details_projet:hover > .close {
    animation: close 0.2s forwards 0.25s;
}

@keyframes close {
    100% {
        opacity: 1;
    }
}

.panel_image_details_projet {
    background-color: #f3f3f3;
    height: 60%;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box-projet-content {
    max-height: 100%;
    max-width: 70%;
}

.btn-change-image-next , .btn-change-image-back{
    background-color: #ffffff;
    width: 100px;
    aspect-ratio: 1/1;
    padding: 20px;
    border-radius: 50%;
    color: #181818;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: ;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn-change-image-next , .btn-change-image-back {
    background-color: #ffffff;
    border: 1px solid #181818;
    border-radius: 8px;
    box-sizing: border-box;
    color: #181818;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}


.btn-change-image-next:active , .btn-change-image-back:active {
    background-color: #fff;
    border-color: #181818;
    transform: scale(.96);
}

.btn-change-image-next {
    position: absolute;
    right: 5%;
}
.btn-change-image-back {
    position: absolute;
    left: 5%;
}

.date_details_projet {
    color: #1C1C1C;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.titre_details_projet {
    color: #1C1C1C;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.panel_text_details_projet {
    max-height: 40%;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: relative;
    z-index: 20;
}

.button_demo {
    position: absolute;
    bottom: 50px;
    right: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    z-index: 20;
}

.button_demo a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #1C1C1C;
    border: #1C1C1C solid 2px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button_demo a:hover {
    color: #FDFDFD;
    border: #1C1C1C solid 2px;
    background-color: #1C1C1C;
}

.panel_langue_code_details {
    position: absolute;
    top: 130px;
    right: 30px;
    width: 90px;
    height: calc(100% - 230px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    z-index: 20;
}

.langue_code_details {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #1c1c1c6f solid 1px;
    padding-bottom: 10px;
}

.langue_code_details:last-child {
    border-bottom: none;
}

.langue_code_details_img {
    width: 70%;
    margin-bottom: 10px;
}

.langue_code_details_text {
    text-align: center;
    color: #1C1C1C;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 16px;
}