.card-skills {
    background: #FDFDFD;
    position: relative;
    padding-left: 50px;
    border: 2px solid #1C1C1C;
    overflow: visible;
    transition: all 0.3s ease-out;
}

.box-skill {
    color: #1C1C1C;
    height: 100%;
    gap: 10px;
    display: grid;
    place-content: center;
}

.card-skills:hover {
    border-color: #000000;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-skills:hover .titre-box-skill {
    left: 0;
    color: #000000;
    background-color: #FDFDFD;
    padding: 10px 20px;
    border: #000000 solid 2px;
}

.box-skill-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-box-skill {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
    color: #1C1C1C;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.box-skill-langue-item {
    list-style-type: none;
    margin: 10%;
}

.skill-langue {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon-skill-langue-box {
    width: 18%;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    border-radius: 50px;
    border: #ffffff solid 3px;
    box-shadow: 0px 0px 10px #1c1c1c85;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-skill-langue {
    width: 60%;
}

.name-skill-langue-text {
    color: #1C1C1C;
    margin-left: 5%;
    font-weight: 400;
    font-size: 20px;
}